<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
  </head>
  <body>
    <h1>{{ title }}</h1>
    {{ #if detail }}
    <div class="content">
      {{{~ render detail ~}}}
    </div>
    {{ /if }}
    
    {{ #if sections }}
    <section>
      <h2>Sections</h2>
      {{ #each sections }}
        <h3>{{ title }}</h3>
        {{ #if detail }}
        <div class="content">
          {{{~ render detail ~}}}
        </div>
        {{ /if }}
      {{ /each }}
    </section>
    {{ /if }}
    
    {{ #if sections }}
    <section>
      <h2>Routes</h2>
      {{ #each routes }}
        {{ #if title }}
        <h3>{{ title }}</h3>
        {{ else }}
        <h3>{{ method }} {{ resource }}</h3>
        {{ /if }}
        {{ #if detail }}
        <div class="content">
          {{{~ render detail ~}}}
        </div>
        {{ /if }}
        
        {{ #if attrs }}
          <h4>Attributes</h4>
          {{ #each attrs }}
            {{ #if (eq @key "scopes") }}
              {{ #each this }}<span class="scope">{{ this }}</span> {{ /each }}
            {{ /if }}
          {{ /each }}
        {{ /if }}
        
        {{ #if params }}
          <h4>Query Parameters </h4>
          <table>
            <tr>
              <td>Name</td>
              <td>Type</td>
              <td>Description</td>
            </tr>
            {{ #each params }}
            <tr>
              <td>{{~ name ~}}</td>
              <td>{{~ type ~}}</td>
              <td>{{~ render detail ~}}</td>
            </tr>
            {{ /each }}
          </table>
        {{ /if }}

      {{ /each }}
    </section>
    {{ /if }}
    
  </body>
</html>
