<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
  </head>
  <body>
    <h1>{{ title }}</h1>
    <div class="content">
    {{ #if detail }}
      {{{~ render detail }}}
    {{ /if }}
    </div>
    
    {{ #if sections }}
    <section>
      <h2>Sections</h2>
      {{ #each sections }}
        <h3>{{ title }}</h3>
        <div class="content">
        {{ #if detail }}
          {{{~ render detail }}}
        {{ /if }}
        </div>
      {{ /each }}
    </section>
    {{ /if }}
    
    {{ #if sections }}
    <section>
      <h2>Routes</h2>
      {{ #each routes }}
        {{ #if title }}
        <h3>{{ title }}</h3>
        {{ else }}
        <h3>{{ method }} {{ resource }}</h3>
        {{ /if }}
        {{ #if detail }}
        <div class="content">
          {{{~ render detail }}}
        </div>
        {{ /if }}
      {{ /each }}
    </section>
    {{ /if }}
    
  </body>
</html>
