<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
  </head>
  <body>
    <h1>{{ title }}</h1>
    {{ #if detail }}
    <div class="content">
      {{{~ render detail ~}}}
    </div>
    {{ /if }}
    
    {{ #if sections }}
    <section>
      <h2>Sections</h2>
      {{ #each sections }}
        <h3>{{ title }}</h3>
        {{ #if detail }}
        <div class="content">
          {{{~ render detail }}}
        </div>
        {{ /if }}
      {{ /each }}
    </section>
    {{ /if }}
    
    {{ #if sections }}
    <section>
      <h2>Routes</h2>
      {{ #each routes }}
        {{ #if title }}
          <h3>{{ title }}</h3>
        {{ else }}
          <h3>{{ method }} {{ resource }}</h3>
        {{ /if }}
        {{ #if detail }}
          <div class="content">
          {{{~ render detail }}}
          </div>
        {{ /if }}
        
        {{ #if attrs }}
          <h4>Attributes</h4>
          {{ #each attrs }}
            {{ #if (eq @key "scopes") }}
            Required ACL scopes:
            <ul>
              {{ #each this }}<li class="scope">{{ this }}</li>{{ /each }}
            </ul>
            {{~ /if ~}}
          {{ /each }}
        {{ /if }}
        
        {{ #if params }}
          <h4>Query Parameters </h4>
          <table>
            <tr>
              <td class="header">Name</td>
              <td class="header">Type</td>
              <td class="header">Description</td>
            </tr>
            {{ #each params }}
            <tr>
              <td class="name">{{~ name ~}}</td>
              <td class="type">{{~ type ~}}</td>
              <td class="descr">{{~ render detail ~}}</td>
            </tr>
            {{ /each }}
          </table>
        {{ /if }}
        
        {{ #if examples }}
          <h4>Examples </h4>
          {{ #each examples }}
            {{ #if title }}
              <h3>{{ title }}</h3>
            {{ /if }}
            {{ #if detail }}
              <div class="content">
              {{{~ render detail }}}
              </div>
            {{ /if }}
            {{ #if request }}
              <figure>
                <pre>
                  {{~ request.http ~}}
                </pre>
                {{ #if request.title }}
                <figcaption>{{ request.title }}</figcaption>
                {{ else }}
                <figcaption>Example Request</figcaption>
                {{ /if }}
              </figure>
            {{ /if }}
            {{ #if response }}
              <figure>
                <pre>
                  {{~ response.http ~}}
                </pre>
                {{ #if response.title }}
                <figcaption>{{ response.title }}</figcaption>
                {{ else }}
                <figcaption>Example Response</figcaption>
                {{ /if }}
              </figure>
            {{ /if }}
          {{ /each }}
        {{ /if }}

      {{ /each }}
    </section>
    {{ /if }}
    
  </body>
</html>
